/* Keep footer at bottom */
* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box; 
}

html,
body {
	height: 100%;
	position: relative; 
}

.main-container {
	min-height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px; 
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%; 
	height: 130px;
	background: rgba(0,0,0,.7);
	color: white;
}

/* end of keep footer at bottom */
.text-center {
	text-align: center;
}

 footer p {
	padding: 24px;
	margin: 0;
}